{% extends "base_in.html" %}

{% block titulos %}
	Categoría - VentaSystem
{% endblock  %}

{% block content %}
	<h1 class="titulo">Categoría</h1>
	<a href="{% url 'insertar_categoria' %}" class="btn btn-success">
		Nueva Categoría <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	</a>
	<br>
	<br>

	<table class="table">
		<thead>
			<tr>
				<th>Código Categoría</th>
				<th>Categoría</th>
				<th>Acción</th>
			</tr>
		</thead>
		<tbody>
			{% for categoria in categorias %}
				<tr>
					<td> {{ categoria.id }} </td>
					<td> {{ categoria.nombre }} </td>
					<td>
						<a href="{% url 'actualizar_categoria' categoria.id %}" class="btn btn-sm btn-primary">Actualizar</a>
						<a href="{% url 'eliminar_categoria' categoria.id %}" class="btn btn-sm btn-danger">Eliminar</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

		


{% endblock  %}
