{% extends "base_in.html" %}

{% block titulos %}
	Proveedor - VentaSystem
{% endblock  %}

{% block content %}

	<h1 class="titulo">Proveedor</h1>
	<a href="{% url 'insertar_proveedor' %}" class="btn btn-success">
		Nuevo Proveedor <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	</a>
	<br>
	<br>

	<table class="table">
		<thead>
			<tr>
				<th>RTN</th>
				<th>Contacto</th>
				<th>Empresa</th>
				<th>Correo Contacto</th>
				<th>Dirección</th>
				<th>Teléfono Contacto</th>
				<th>Teléfono Empresa</th>
				<th>Acción</th>
			</tr>
		</thead>
		<tbody>
			{% for proveedor in proveedores %}
				<tr>
					<td> {{ proveedor.rtnProveedor }} </td>
					<td> {{ proveedor.nombreContacto }} </td>
					<td> {{ proveedor.nombreEmpresa }} </td>
					<td> {{ proveedor.correoContacto }} </td>
					<td> {{ proveedor.direccion }} </td>
					<td> {{ proveedor.telefonoContacto }} </td>
					<td> {{ proveedor.telefonoEmpresa }} </td>
					<td>
						<a href="{% url 'actualizar_proveedor' proveedor.id %}" class="btn btn-sm btn-primary">Actualizar</a>
						<a href="{% url 'eliminar_proveedor' proveedor.id %}" class="btn btn-sm btn-danger">Eliminar</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
{% endblock  %}